<receiver
    android:name=".Widgets.AssistantSummary.AssistantSummary"
    android:exported="false">
    <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
    </intent-filter>

    <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/assistant_summary_info" />
</receiver>
